body {
    margin: 0;
}
.header {
    width: 100vw;
    height: 15vh;
    background-color: black;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0;
    color: white;
}

.contact-info {
    width: 100vw;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.contact-info div{
    width: 25vw;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-info div img{
    width: 12vw;
}

.contact-info div p{
    font-size: 3.5vw;
}


.contact-form {
    margin: 0px 20px 20px 20px;
    padding-bottom: 5%;
    padding-top: 5%;
    background-color: #c4c4c4;
    border-radius: 5px;
}

form {
    text-align: center;

}

form input:nth-child(2), form input:nth-child(4), input:nth-child(6){
    margin-bottom: 10px;
    height: 5vh;
    outline: none;
    width: 90%;
    border-style: none;
    border-radius: 5px;
}

form textarea{
    margin-bottom: 10px;
    width: 90%;
    border-style: none;
    border-radius: 5px;
    resize: none;
    font-family:'Nunito Sans', sans-serif;
}

form button{
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 3vw 5vw 3vw 5vw;
}


h2 {
    font-size: 4vw;
    margin-bottom: 2px;
    text-align: left;
    padding-left: 5%;
}
