body {
    margin: 0;
}

/* HEADER */
.header {
    width: 100vw;
    height: 15vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

h1 {
    margin: 0;
    color: white;
}

.box {
    background-color: #D0D0D0;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    width: 80%;
    font-size: 5vw;
    text-align: center;
}