
.menu {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: rgb(245, 245, 245);
    z-index: 2;
    position: fixed;
    bottom: 0;
}

.menuElement img {
    height: 10vw;
    width: 10vw;
}

.menuElement {
    padding: 20px;
}

#results {
    margin-bottom: 100px;
}

.contact-wrapper {
    margin-bottom: 100px;
}

#faq {
    margin-bottom: 100px;
}

/* To top */
    .to-top {
        position: fixed;
        bottom: 100px;
        right: 10px;
        width: 50px;
        height: 50px;
        background-color: black;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        background-image: url(../Images/arrow-up.png);
        background-position: center;
        pointer-events: none;
        transition: all .4s;
        background-size: 10vw;
        background-repeat: no-repeat;
    }

    .to-top-active{
        bottom: 100px;
        pointer-events: auto;
        opacity: 0.8;
    }

/* Makes scrolling to top smooth */
html {
    scroll-behavior: smooth;
}