body {
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
  height: 100vh;
}

.header {
  position: fixed;
  top: 0;
}

.contact-wrapper {
  margin-top: 50px;
}

#faq {
  margin-top: 120px;
}

#search-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
}

#results {
  margin-top: 120px;
}
